// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;

    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 100px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        //margin-bottom: 30px;
        border-bottom: none;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    /*----------------------------------------------------------------------------------*
     *                                 CUSTOM CSS                                       *
     *----------------------------------------------------------------------------------*/

    //global app css
    .liste_elements{
        margin-top: 2%;
        span.glyphicon.glyphicon-remove-circle, span.glyphicon.glyphicon-edit, span.glyphicon.glyphicon-send{
            float: right;
        }
        span.glyphicon.glyphicon-edit, span.glyphicon.glyphicon-remove-circle{
            margin-left: 2%;
        }
    }  

    //newsLatters_manager
    div#newsLatters_manager{
        span#delete_newletter{
            float: right;
        }
        span#update_newletter{
            float: right;
        }
        span#send_newletter{
            float: right;
        }
        button#ajouter_newletter{
            float: right;
            padding: 5px;
            font-size: 15px;
        }
        div#item_newsLetter{
            text-align: left;
        }
    }



    
    //newsLatters_setting
    div#newsLatters_settings{
        text-align: left;   



        div#diffusions{
            margin-top: 5%;

            button#add_liste_diffusiont{
                padding: 5px;
                font-size: 15px;
            }
        }

        //edit diffusion view css implementation
        div#edit_Diffusiont{
            margin-top: 5%;
            button#add_mail, button#back{ 
                padding: 5px;
                font-size: 15px;
            }

            button#back{
                //float: right;
            }

            div#user_seach_result{
                margin-top: 2%;
            }

        }
    }
}
