<div ng-show="connected" id="newsLatters_settings" class="jumbotron">
    <h4>Votre compte admin</h4>
    <form class="form-inline">
        <div class="form-group">
            <label for="sender">Expéditeur: </label>
            <input type="search" ng-model="adminToEdit.email"  ng-change="updateElement(adminToEdit)" class="form-control" id="sender" >                 
            <label for="senderPassword">mot de passe: </label>
            <input id="senderPassword" type="password" ng-model="adminToEdit.password"  ng-change="updateElement(adminToEdit)" class="form-control" >        </div>           
    </form>


    <div id="diffusions" ng-show="editModeDiffusion === false">
        <h4>Vos listes de diffusion</h4>
        <form id="add_diffusion" class="form-inline">
            <div class="form-group">
                <label for="diffusion">Nom diffusion: </label>
                <input type="text" ng-model="diffusion.nom" class="form-control" id="diffusion">
            </div>     
            <button id="add_liste_diffusiont" class="btn btn-success" ng-click="createElement(diffusion)" type="submit">Ajouter</button>
        </form>

        <br/>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary liste_elements">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Liste de Diffusions
                        </a>
                    </h4>            </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body" ng-repeat="diffusion in diffusions">
                        <span>{{diffusion.nom}}</span>
                        <span  class="glyphicon glyphicon-remove-circle" ng-click="deleteElement(diffusion)"> </span>
                        <span class="glyphicon glyphicon-edit" ng-click="editDiffusion(diffusion)"> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--updating diffusion-->

    <div id="edit_Diffusiont" ng-show="editModeDiffusion == true">
        <h4>Modification diffution</h4>
        <form class="form-inline">
            <div class="form-group">
                <label for="user">Chercher un utilisateur: </label>
                <input type="text" placeholder="nom" ng-model="userName" class="form-control" id="user" ng-change="searchUser(userName)">
            </div>   
            <div id="user_seach_result" class="list-group" ng-show="isSearchUsers">
                <button type="button" class="list-group-item"  ng-repeat="user in users| filter : userName" ng-click="addDiffusionUser(user)"> 
                    <span id="label_diffusiont"><b>NOM:</b> {{user.nom}}, <b>Prenom:</b> {{user.prenom}}, <b>Email:</b> {{user.email}}</span>
                </button>
            </div>
        </form>        
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary liste_elements">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{diffusionToEdit.nom}}
                        </a>
                    </h4>
                </div>
                <div id="item_newsLetter" ng-repeat="user in getDiffusionUsers(diffusionToEdit)" class="list-group-item">
                    <span id="label_diffusiont"><b>NOM:</b> {{user.nom}}, <b>Prenom:</b> {{user.prenom}}, <b>Email:</b> {{user.email}}</span>
                    <span class="glyphicon glyphicon-remove-circle" ng-click="deleteDiffusionUser(user)"> </span>
                </div>
            </div>
        </div>
        <button id="back" class="btn btn-success" ng-click="updateDiffusion(diffusionToEdit)" ype="submit">Valider</button>     
        <button id="back" class="btn btn-danger" ng-click="cancelEditDiffution()" ype="submit">Annuler</button>

    </div>
    <br/>
    <!-- Add to Contact List -->
    <div class="title"><h4>Vos contacts</h4></div>
    <form id="users">
        <div class="form-group">
            <label for="nom">Nom: </label>
            <input type="text" ng-model="user.nom" class="form-control" id="nom">              
            <label for="prenom">Prénom: </label>
            <input type="text" ng-model="user.prenom" class="form-control" id="prenom">
            <label for="email">Email: </label>
            <input type="email" ng-model="user.email" class="form-control" id="email">
        </div>     
        <button id="add_liste_diffusiont" class="btn btn-success" ng-click="createUser(user)" type="submit">Ajouter</button>
    </form>

    <br/>

    <!-- Contact List -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary liste_elements">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
                        Liste de vos Contacts
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" ng-repeat="user in users">
                    <span id="label_diffusiont"><b>NOM:</b> {{user.nom}}, <b>Prenom:</b> {{user.prenom}}, <b>email:</b> {{user.email}}</span>
                    <span id="delete_diffusiont" class="glyphicon glyphicon-remove-circle" ng-click="deleteElement(user)"> </span>
                </div>
            </div>       
        </div>

        <div class="title"><h4>Importer vos contacts</h4></div>
        <div class="block row">           
            <div class="block right"  ng-model="usersRaw">
                <ng-csv-import 
                    class="import"
                    content="csv.content"
                    header="csv.header" 
                    header-visible="csv.headerVisible" 
                    separator-visible="csv.separatorVisible"
                    result="usersRaw"
                    encoding="csv.encoding"
                    encoding-visible="csv.encodingVisible">
                </ng-csv-import>
                <button class="btn btn-success right" type="button" ng-click="loadUser(usersRaw)">Import</button>
            </div>
        </div> 
    </div>


