<style type="text/css">.ng-invalid { border-color: #B94A48; }</style>
	<h1>Liste des produits</h1>
        
        <div class="border">
            <table border="2" >
                <tr>
                    <th>Produit</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="produits in produit">
                    <td>{{produits.nom}}</td>
                    <td>
                        <span ng-click="erase" class="glyphicon glyphicon-ok">reserver</span>
                        <span ng-click="reserver" class="glyphicon glyphicon-eye-open">voir</span>
                    </td>  
                </tr>
            </table>
           
            
        </div>

 <div ng-repeat="produits in produit">
            
        </div>