<style type="text/css">.ng-invalid { border-color: #B94A48; }</style>
	<h1>Liste des produits</h1>
        
        <div class="border">
            <table border="2" >
                <tr>
                    <th>Produit</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="produit in produits">
                    <td>{{produit.nom}}</td>
                    <td>
                        <button ng-click="reserveproduit(produit)" style="padding-right: 20px; padding-left: 10px; "  class="glyphicon glyphicon-ok">Réserver</button>
                        <button ng-click="voirdetailproduit(produit)" style="padding-right: 20px;"  class="glyphicon glyphicon-eye-open">Voir</button>
                    </td>  
                </tr>
            </table>
           
            
        </div>